.background-color{
    background-color: hsl(212, 45%, 89%);
}
.title-color{
    color: hsl(218, 44%, 22%);
}
.text-color{
    color: hsl(216, 15%, 48%);
}
.max-min-width{
    width: clamp(280px, 30vw, 400px);
}